<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class='navbar-header'>
            <div class='navbar-brand' align=center>
            投票
            </div>
        </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        {% load account %}
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href='/'>HOME<span class="sr-only">(current)</span></a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}">登出</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_signup' %}">註冊</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_login' %}">登入</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href='/admin'>管理</a>
            </li>


        </ul>
    </div>
</nav>

