{% extends 'base.html' %}
{% block title %}個人資料{% endblock %}

{% block content %}
<div class='container'>

	<div class='row'>
		<div class='col-md-12'>
			<div class='card text-white bg-info mb-3'>
				<div class='card-header' align=center>
					<h3>個人資料</h3>
				</div>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class='col-md-12'>
			<div class='card text-white bg-primary mb-3'>
				<div class='card-header' align=center>
					{{usesrinfo.user.username|upper}}
				</div>
				<div class='card-body'>
					電子郵件:{{profile.user.mail}}<br>
					身高:{{profile.height}}cm<br>
					性別:{{profile.male|yesno:"男生,女生"}}
					個人網站:<a href='{{profile.website}}'>{{profile.website}}</a>
				</div>
			</div>
		</div>
	</div>
	<p>
		姓名:{{userinfo.name}}<br>
		信箱:{{userinfo.email}}
	</p>
	<form name='myname' action='.' method='POST'>
		{% csrf_token %}
		<table>
			{{profile_form.as_table}}
		</table>
		<input type='submit' value='修改個人資料'>
	</form>
</div>


{% endblock %}

